.center-div {
  margin: auto;
  width: 50%;
  border: 3px solid black;
  padding: 10px;
}

.center{
    margin: auto;
    width: 50%;
    padding: 10px;
}

.btn {
  background-color: #eaeaea;
  color: black;
  padding: 10px 20px;
}

table.bordered-table, table.bordered-table th, table.bordered-table td{
  border-collapse: collapse;
  border: 2px solid black;
}

 .NewRecord{    
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  
  to {
    opacity: 1;
  }
}